@import url(<link rel="preconnect" href="https://fonts.googleapis.com">)
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
  font-family: "Merriweather", serif;
  font-size: 18px;
  margin: 0px;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3 {
  font-family: "Merriweather", serif;
  font-weight:bold;
  font-size:22px;
}

a {
  text-decoration: none;
}




